Cargo.toml.orig filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
LICENSE-MIT filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
cargo2android.json filter=lfs diff=lfs merge=lfs -text
Cargo.toml filter=lfs diff=lfs merge=lfs -text
LICENSE-APACHE filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
